@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-text: 74, 45, 27;
    --color-primary: 252, 229, 162;
    --color-secondary: 127, 235, 201;
    --color-accent: 83, 152, 228;
    --color-bg: 243, 240, 249;
  }
}

* {
  font-family: 'JetBrains Mono', monospace;
  color: #4a2d1b;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
}

h4 {
  display: block;
  font-size: 1em;
}

a {
  transition: color 0.2s ease 0s;
  text-decoration: none;
}

.link-highlight {
  background-color: transparent;
  padding: 2px 0 1px;
  cursor: pointer;
  background-image: linear-gradient(
    transparent 0,
    transparent calc(50% - 9px),
    rgba(var(--color-primary), 0.35) calc(50% - 9px),
    rgba(var(--color-primary), 0.35) 100%
  );
  transition: all 120ms ease-in-out 0s;
  background-size: 100% 200%;
  background-position: 0 0;
  word-break: break-word;
}

.link-highlight:hover {
  background-image: linear-gradient(
    transparent 0,
    transparent calc(50% - 9px),
    rgba(var(--color-primary), 1) calc(50% - 9px),
    rgba(var(--color-primary), 1) 100%
  );
  background-position: 0 100%;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
